mixin mix-categ_bowl(categs,title,categid)
    input(id="param"+categid,type="hidden",value="",autocomplete="off")
    - var exp = (categid==30?"true":"false")
    .enar_occ_container(id="categAcor-"+categid,data-expanded=exp)
        span.enar_occ_title
            = title
            if (categid == 30)
                a(href="/" + lang + "/7_24/65eaf267f8e3d365c71aad5f/bowl.html" target="_blank")
                    i.infobowl.ico-question-circle
                input.checkAllEl(type="checkbox" autocomplete="off")
        .enar_occ_content
            .acc_content
                ul.cat_list_widget
                    each c in categs
                        li(id="categ"+c._id.replace(/\s/g,'_1').replace(/\//g,'_2').replace(/\(/g,'_3').replace(/\)/g,'_4').replace(/\,/g,'_5'))
                            a(href="javascript:void(0)",onclick="VV_dir_sb.categs.add('"+categid+"','" + (c._id?c._id.replace(/\s/g,'_1').replace(/\//g,'_2').replace(/\(/g,'_3').replace(/\)/g,'_4').replace(/\,/g,'_5'):c.lib.replace(/\s/g,'_1').replace(/\//g,'_2').replace(/\(/g,'_3').replace(/\)/g,'_4').replace(/\,/g,'_5')) + "')")
                                i.ico-circle-o
                                span
                                    = " " + c.lib
                            .num_posts(id="b"+c._id.replace(/\s/g,'_1').replace(/\//g,'_2').replace(/\(/g,'_3').replace(/\)/g,'_4').replace(/\,/g,'_5'))= c.count