mixin mix-edit(protoUID,objectUID)
	if (loged && user)
		if ((user.sa == true) || (user.sad == true))
			a(href="/" + lang +"/objects/"+projectUID + "/"+protoUID+"?aouid=" + objectUID)
				button.btn.btn-primary= trads.t636e00be2d5c094729393f89