mixin mix-adress
    .widget_block
        h6.widget_title Contacts
        span.desc-text
            = (object.version.p5c332d4f07c805cd14cf24e3?object.version.p5c332d4f07c805cd14cf24e3:"")
            br
            = " " + (object.version.p5c332d5007c805cd14cf2503?object.version.p5c332d5007c805cd14cf2503:"") + " " + (object.version.p5c332d5107c805cd14cf251c?object.version.p5c332d5107c805cd14cf251c:"")