mixin mix-doc
    .row
        .col-12
            a.btn.btn-lg.btn-icon.btn-filled(target='_blank', href=s3 + object.version.p5c332d2907c805cd14cf21ae)
                i.ti-file
            embed#doc(height='600', width='100%',src=s3 + object.version.p5c332d2907c805cd14cf21ae)