extends layout.pug
include mixins/pages/details/mix-present.pug
include mixins/pages/details/mix-relats.pug
include mixins/pages/details/mix-keywords.pug
include mixins/pages/details/mix-search.pug
include mixins/pages/details/mix-news.pug
include mixins/pages/details/mix-logo.pug
include mixins/pages/details/mix-categs.pug
include mixins/pages/details/mix-referent.pug
include mixins/pages/details/mix-contact.pug
include mixins/pages/details/mix-doc.pug
include mixins/pages/details/mix-rate.pug
include mixins/pages/details/mix-hidden.pug
include mixins/pages/details/mix-auteurs.pug
block append styles
  link(href="../assets/js/star-rating/star-rating.min.css" rel="stylesheet")
block content
  +mix-hidden
  section.content_section.page_title
    .content.clearfix
      h1= object.version.p5c332d2707c805cd14cf217d
      .breadcrumbs
        a(href='/')= trads.t5fc5e2a6b4b8eb1f1e4358a1
        span.crumbs-spacer
          i.ico-angle-right
        a(href='#')= object.version.p5c332d2707c805cd14cf217d
  section.content_section
    .content.row_spacer
      .rows_container.clearfix
        .col-md-3
          +mix-logo
          +mix-categs
          +mix-keywords
          +mix-referent
          +mix-auteurs
        // End grid 6
        // grid 6
        .col-md-9
          //h2.title1.upper Project Description
          .hm-tabs.tabs2.fill_active.is-ended
            nav
              ul.tabs-navi
                li.selected
                  a.selected(data-content='inbox', href='#')
                    span
                    = trads.t5c5db74f43fef3000484f667
                li
                  a(data-content='new', href='#')
                    span
                    = trads.t5c5d279b75254800049b2189
            ul.tabs-body(style='height: auto;')
              li.selected(data-content='inbox', style='')
                +mix-present
              li(data-content='new', style='')
                +mix-doc
  +mix-contact
block append scripts
  script(type='text/javascript', src='../assets/js/star-rating/star-rating.min.js')
  script(src="../assets/js/validation.js")
  script(src='../assets/js/detail.js')