extends layout.pug
include mixins/globals/widgets/mix-compteurs.pug
include mixins/globals/widgets/mix-search-bar.pug
include mixins/pages/index/mix-news.pug
include mixins/pages/index/mix-thematics.pug
include mixins/pages/index/mix-map.pug
include mixins/pages/index/mix-projects.pug
include mixins/pages/index/mix-events.pug
include mixins/pages/index/mix-counters.pug
include mixins/pages/index/mix-slider.pug
include mixins/pages/index/mix-slider-swip.pug
block append styles
  link(rel='stylesheet', href='https://unpkg.com/leaflet@1.2.0/dist/leaflet.css', integrity='sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ==', crossorigin='')
  link(rel='stylesheet', href='https://unpkg.com/leaflet.markercluster@1.2.0/dist/MarkerCluster.css')
  link(rel='stylesheet', href='https://unpkg.com/leaflet.markercluster@1.2.0/dist/MarkerCluster.Default.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.1.7/css/swiper.min.css')
  link(href='../assets/css/pages/directory_sidebar.css' rel="stylesheet")
  link(href="../assets/css/directory_map.css" rel="stylesheet")
  link(href="../assets/css/pages/index.css" rel="stylesheet")
block content 
  +mix-slider-swip
  .welcome_banner.bg_color2
    .content.clearfix
      .row
        //h3 Best HTML5 Theme Ever!
        .col-md-2.col-xs-2
        input.serch_input.col-md-6.col-xs-6(placeholder=trads.t5fc5df77b4b8eb1f1e435865,type="text",style="line-height: 25px;")
        a.col-md-2.col-xs-2.btn_a.f_right.search_btn(href='#', target='_self',style="    margin-left: 0px;    padding-right: 32px;border:0;")
          span
            i.in_left.ico-search
            span= trads.t5c5d27a175254800049b2190
            i.in_right.ico-search
        .col-md-2.col-xs-2
  +mix-map
  +mix-counters
  +mix-news
  +mix-projects
  section.content_section.white_section(style="background-color:#fff;")
    .content.row_spacer.clearfix
      .our_client_slider
        .c_logo
          img(src='../assets/img/logos/cirad.png', alt='client name')
        | &#x9;&#x9;&#x9;&#x9;
        .c_logo
          img(src='../assets/img/logos/gsdm.png', alt='client name')
        | &#x9;&#x9;&#x9;&#x9;
        .c_logo
          img(src='../assets/img/logos/AFD_logo.svg.png', alt='client name')
        | &#x9;&#x9;&#x9;&#x9;
        .c_logo
          img(src='../assets/img/logos/partenaire-coop-allemande.png', alt='client name')
        | &#x9;&#x9;&#x9;&#x9;
        .c_logo
          img(src='../assets/img/logos/ue.png', alt='client name')
        | &#x9;&#x9;&#x9;&#x9;
  //+mix-thematics
  
block append scripts
  script.
    var txtEvtsFrom = "#{trads.t5dd621e076c049779789dcbe}";
  script(src='https://unpkg.com/leaflet@1.2.0/dist/leaflet.js', integrity='sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log==', crossorigin='')
  script(src='https://unpkg.com/leaflet.markercluster@1.2.0/dist/leaflet.markercluster.js')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.1.7/js/swiper.jquery.min.js")
  //script(src='../assets/js/jquery-jvectormap-2.0.3/jquery-jvectormap-2.0.3.min.js')
  //script(src='../assets/js/jquery-jvectormap-2.0.3/jquery-jvectormap-fr_regions-mill.js')
  script(src='../assets/js/pages/directory_map.js')
  script(src='../assets/js/pages/index.js')