mixin mix-map
    // Features Slider 1
    section.content_section.full_colored
        .content.clearfix
            div
                .container.icons_spacer.icon_boxes_con.style2.upper_title.solid_icon.clearfix
                    .col-md-4
                        .service_box
                            img.logo_dark(src='../assets/images/ressources-png.png', alt='BOOST Logo')
                            .service_box_con
                                a(href='/' + lang + "/2/102/global.html")
                                    h3= trads.t5f9f8ee77a704210975c72a9
                                    span.desc
                                        = trads.t5f9f8ea52bdfc9508c82ab32
                                    //a.ser-box-link(href='/'+lang+"/2/102/global.html")
                                        span
                                        = trads.t5f9f8ef30405e850490f676a
                    .col-md-4
                        .service_box
                            img.logo_dark(src='../assets/images/logo-cartepng.png', alt='BOOST Logo')
                            .service_box_con
                                a(href='/' + lang + "/2_2/geo.html")
                                    h3= trads.t5f9f8eed0405e850490f6766
                                    span.desc
                                        = trads.t5f9f8eae2bdfc9508c82ab36
                                    //a.ser-box-link(href='#')
                                        span
                                        = trads.t5f9f8ef30405e850490f676a
                    .col-md-4
                        .service_box
                            img.logo_dark(src='../assets/images/logo-relationnel-png.png', alt='BOOST Logo')
                            .service_box_con
                                a(href='/' + lang + "/2_3/relats.html")
                                    h3= trads.t65f0723f02c3d107905f5d03
                                    span.desc
                                        = trads.t65f07288d64dce076d17b8a3
                                    //a.ser-box-link(href='#')
                                        span
                                        = trads.t5f9f8ef30405e850490f676a