mixin mix-parts
    .container
        .row
            .col-sm-12.text-center
                h4.uppercase.mb16= trdas.t5fc5e1f1b4b8eb1f1e435894
                p.lead.mb64
        .row
            .logo-carousel
                .flex-viewport(style='overflow: hidden; position: relative;')
                    ul.slides(style='width: 1600%; transition-duration: 0.6s; transform: translate3d(-1170px, 0px, 0px);')
                        for logo in logos
                            li(style='width: 292.5px; float: left; display: block;')
                                a(target='_blank', href=logo.p5c332d1a07c805cd14cf2059)
                                    img(src=s3 + logo.p5c332d1907c805cd14cf2042, alt=logo.p5c332d0b07c805cd14cf1ef5, draggable='false')   
            
