mixin mix_search_bar
  form#searchform(onsubmit="return false")
    input.fulltext#fulltext.mb0(type='text', placeholder=trads.t5df75029870b60ab3061bfaa,style="width:90%;")
    a.main-search-button.btn.btn-icon(href='#')
      i.ti-search