mixin mix-menu(parent)
  //current_page_item
  for mnu in header.menu
    if mnu.parent == parent
      - var hasChild = false
      for mnu2 in header.menu
        if mnu2.parent == mnu._id
          - hasChild = true
          - break
      li.normal_menu.mobile_menu_toggle
        a(role='button', aria-haspopup='true', aria-expanded='false', href='/'+lang+ mnu.p5bc4396c219d500400bbbfee)
          span= mnu.p5c374961b2b8600004dc97d1
        if hasChild  
          ul
            +mix-menu(mnu._id)